@charset "utf-8";
/* style */

body {
	background-color:lightblue;
}

#container {
	width:1000px;
	height:700px;
	background-color: salmon;
    margin:auto
        padding:25px;
}

header {
	align-content: center;
	background-color: antiquewhite;
}


.secLeft{
	  font-size: 120%;
        color: darkgoldenrod;
            width:33%;
	background-color: rgba(182, 254, 123, 1);
	height:400px;
	float:left;
}
.secRight{
	width:34%;
	background-color:rgba(255, 184, 241, 1);
	height:400px;
	float:left;
}
.secMid{
	width:33%;
	background-color:rgba(254, 145, 123, 1);
	height:400px;
	float:left;
}
footer{
	
			background-color:rgba(250, 255, 148, 1); 
			width:100%; 
			height:35px;
	clear:both;
}
